/* media query */
@media (min-width: 200px) {
    .c1{
        width: 100%;
        margin: 0px auto;
        font-size: 12vmin;
    }
    .c2, .c3 {
        width: 100%;
        margin: 0px auto;
        font-size: 12vmin;
    }
    .c4 {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        margin: 0px auto;
    }
}

@media (min-width: 400px) {
    .c1{
        width: 100%;
        margin: 0px auto;
        font-size: 12vmin;
    }
    .c2, .c3 {
        width: 100%;
        margin: 0px auto;
        font-size: 12vmin;
    }
    .c4 {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        margin: 0px auto;
    }
}

@media (min-width: 600px) {
    .c1{
        width: 90%;
        margin: 0px auto;
        font-size: 12vmin;
    }
    .c2, .c3 {
        width: 80%;
        margin: 0px auto;
        font-size: 12vmin;
    }
    .c4 {
        position: relative;
        width: 90%;
        height: 0;
        padding-bottom: 56.25%;
        margin: 0px auto;
    }
}

@media (min-width: 800px) {
    .c1{
        width: 80%;
        margin: 0px auto;
        font-size: 10vmin;
    }
    .c2, .c3{
        width: 60%;
        margin: 0px auto;
        font-size: 10vmin;
    }
    .c4 {
        position: relative;
        width: 80%;
        height: 0;
        padding-bottom: 56.25%;
        margin: 0px auto;
    }
}

@media (min-width: 1000px) {
    .c1{
        width: 60%;
        margin: 0px auto;
        font-size: 8vmin;
    }
    .c2, .c3{
        width: 50%;
        margin: 0px auto;
        font-size: 8vmin;
    }
    .c4 {
        position: relative;
        width: 60%;
        height: 0;
        padding-bottom: 56.25%;
        margin: 0px auto;
    }
}

.c4 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
}

html{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}