/* media query */
@media (min-width: 200px) {
    .title{
        width: 100%;
        margin: 0px auto;
        font-size: 12vmin;
    }
    .graph {
        width: 100%;
        margin: 0px auto;
        font-size: 12vmin;
    }
    .map {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        margin: 0px auto;
    }
}

@media (min-width: 400px) {
    .title{
        width: 100%;
        margin: 0px auto;
        font-size: 12vmin;
    }
    .graph {
        width: 100%;
        margin: 0px auto;
        font-size: 12vmin;
    }
    .map {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        margin: 0px auto;
    }
}

@media (min-width: 600px) {
    .title{
        width: 90%;
        margin: 0px auto;
        font-size: 12vmin;
    }
    .graph {
        width: 80%;
        margin: 0px auto;
        font-size: 12vmin;
    }
    .map {
        position: relative;
        width: 90%;
        height: 0;
        padding-bottom: 56.25%;
        margin: 0px auto;
    }
}

@media (min-width: 800px) {
    .title{
        width: 80%;
        margin: 0px auto;
        font-size: 10vmin;
    }
    .graph{
        width: 60%;
        margin: 0px auto;
        font-size: 10vmin;
    }
    .map {
        position: relative;
        width: 80%;
        height: 0;
        padding-bottom: 56.25%;
        margin: 0px auto;
    }
}

@media (min-width: 1000px) {
    .title{
        width: 60%;
        margin: 0px auto;
        font-size: 8vmin;
    }
    .graph{
        width: 50%;
        margin: 0px auto;
        font-size: 8vmin;
    }
    .map {
        position: relative;
        width: 60%;
        height: 0;
        padding-bottom: 56.25%;
        margin: 0px auto;
    }
}

#city_today_map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
}

html{
    text-align: center;
    font-family: 'Noto Sans TC','Roboto', Arial, sans-serif;
}

#build_with_firebase{
    height:82px;
    width:184px;
}