html {
  height: 100%;
  font-family: 'Noto Sans TC', 'Roboto', Arial, sans-serif;
}

body {
  height: 100%;
}

.box1 {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1-1 {
  width: 21em;
  background-color: transparent;
  border-radius: 1rem;
  text-align: center;
  margin: auto;
}

footer {
  text-align: center;
}

.input_textarea {
  height: 8rem;
  width: 20rem;
  border-radius: 0.75rem;
  border: 2px #1F4068 solid;
  color: black;
  background-color: transparent;
  font-family: 'Noto Sans TC', 'Roboto', Arial, sans-serif;
  outline: none;
  resize: none;
  text-align: center;
  margin: 1rem auto 0.5rem auto;
}

.button-send {
  height: 1.75rem;
  width: 4rem;
  border-radius: 0.75rem;
  color: #000000;
  border: 2px #1F4068 solid;
  background-color: transparent;
  font-family: 'Noto Sans TC', 'Roboto', Arial, sans-serif;
  outline: none;
  margin: 0 1rem 1rem auto;
  float: right;
  display: inline;
}

.button-clear {
  height: 1.75rem;
  width: 4rem;
  border-radius: 0.75rem;
  color: #000000;
  border: 2px #E33E5A solid;
  background-color: transparent;
  font-family: 'Noto Sans TC', 'Roboto', Arial, sans-serif;
  outline: none;
  margin: 0 auto 1rem 1rem;
  float: left;
  display: inline;
}

#build_with_firebase {
  height: 82px;
  width: 184px;
}

#login-state {
  max-width: 8rem;
  height: 1.5rem;
  padding: 0 0.75rem;
  margin: 0 auto 0 auto;
  color: #000000;
  border: 2px #1F4068 solid;
  border-radius: 0.75rem;
  display: inline-block;
  outline: none;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.box1-1-1 {
  text-align: center;
  width: 100%;
  margin: auto;
  font-family: 'Noto Sans TC', 'Roboto', Arial, sans-serif;
  color: transparent;
}

#logout-case {
  width: 100%;
  text-align: center
}

#logout {
  height: 1.5rem;
  width: 4rem;
  border-radius: 0.75rem;
  color: #000000;
  border: 2px #E33E5A solid;
  background-color: transparent;
  font-family: 'Noto Sans TC', 'Roboto', Arial, sans-serif;
  outline: none;
  margin: 0 auto;
}

#message-data {
  width: 100%;
  text-align: center
}

a {
  text-decoration: none;
}

#firestore_case {
  width: 100%;
}

#firestore_data_case {
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.firestore_data {
  border: 2px #1F4068 solid;
  border-radius: 1rem;
  margin: 0.5rem auto;
  height: auto;
  width: 20rem;
}

#firestore_get_data {
  height: 1.5rem;
  width: 4rem;
  border-radius: 0.75rem;
  color: #000000;
  border: 2px #1F4068 solid;
  background-color: transparent;
  font-family: 'Noto Sans TC', 'Roboto', Arial, sans-serif;  
  outline: none;
  margin: 0.5rem;
}

#get_data_quantity {
  height: 1.2rem;
  max-width: 4rem;
  border-radius: 0.75rem;
  color: #000000;
  border: 2px #1F4068 solid;
  background-color: transparent;
  font-family: 'Noto Sans TC', 'Roboto', Arial, sans-serif;
  outline: none;
  margin: 0.5rem;
  text-align: center;
}

#admin_case {
  width: 100%;
  text-align: center;
}

.firestore_data_p {
  margin: 0.5rem;
  height: auto;
}

.firestore_data_timeString {
  margin: 0.5rem;
  text-align: right;
}